/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos do Header */
header {
    background-color: #edcd9e;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo img {
    width: 180px;
}

.header-title {
    text-align: center;
    font-size: 24px;
}

/* Estilos do Vídeo */
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.video-container iframe {
    width: 100%;
    max-width: 800px;
    height: 400px;
}

/* Estilos do Footer */
footer {
    background-color: #edcd9e;
    padding: 20px;
    text-align: center;
}

.location {
    font-size: 24px;
    font-weight: 545;
}
.contact {
    font-size: 24px;
    font-weight: 545;
}
/* Estilos Responsivos */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .logo img {
        width: 100px;
    }

    .header-title {
        text-align: center;
        font-size: 12px;
    }


    .video-container iframe {
        height: 250px;
    }

    footer {
        background-color: #edcd9e;
        padding: 10px;
        text-align: center;
    }
    
    .location {
        font-size: 12px;
        font-weight: 545;
    }
    .contact {
        font-size: 12px;
        font-weight: 545;
    }
}